<div class="container">
  <h1>Simplest Possible AJAX</h1>
  <p>This contrived app will simulate a roll of a 6-sided die.</p>

  <form method="post" action="/rolls">
    <input type="submit" value="Roll the Die" class="roll_button">
  </form>

  <div id="die">

      <img src="/1.png" title="1" alt="the roll" class="die_pic">

  </div>

</div>
